{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login | Check-The-List</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Check-The-List: A cybersecurity hardening project">
	<!--<link rel="stylesheet" href="{% static 'css/styles.css' %}">-->
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="icon" type="image/x-icon" href="/Images/favicon.ico/">
</head>

<body class="bg-gradient-to-br from-blue-100 to-gray-100 min-h-screen font-sans antialiased">
	<header>Check-The-List - Cybersecurity Hardening
	<!-- Navbar -->
	<nav class="bg-blue-600 text-white px-6 py-4 shadow-md flex justify-between items-center">
		<div class="space-x-4 text-sm md:text-base">
			<a href="login" class="navbtn">Login</a>
			<a href="{% url 'index'%}" class="navbtn">Home</a>
		</div>
	</nav>
	</header>

	<!--Main content -->
	<div class="flex items-center justify-center h-screen">
		<div class="bg-white p-8 shadow-md rounded-lg max-w-md w-full">
			
			<!-- Login form -->
			<div class="loginWrapperOne">
			<div class="loginWrapperTwo">
			<form class="space-y-4" action="" method="POST">
				{%csrf_token%}
				{% if error_message %}
					<div style="color: red;">
					<br>	
						<h2> {{error_message}} </h2>
							{% endif %}
							<h1 class="text-xl font-semibold"> Signup Here</h1> <hr /><br>
							<div>
								<h2> Username </h2>
								<input type="text" id="username" name="username" placeholder="Enter your username..." class="w-full p-2 border rounded">
							</div><br>
							<div>
								<h2> Email </h2>
								<input type="email" id="email" name="email" placeholder="Enter your email..." class="w-full p-2 border rounded">
							</div><br>
							<div>
								<h2> Password </h2>
								<input type="password" id="password" name="password" placeholder="Enter password..." class="w-full p-2 border rounded">
							</div><br>
							<div>
								<h2> Repeat Password </h2>
								<input type="password" id="repeatPassword" name="repeatPassword" placeholder="Re-Enter password..." class="w-full p-2 border rounded">
							</div> <br> <hr /> <br>


				<button type="submit" style="width: 50%;" class="w-full bg-blue-600 text-white p-2 rounded hover:bg-blue-700"> Login</button>
			</form>
		</div>
		</div>
		</div>
		</div>
	</div>
	<footer>
        <h3>Check-The-List</h3>
        <p>© 2024  Senior Design Group 22 All rights reserved</p>
        <br>
        <p>This website was created by the 2024-2025 Senior Design Group 22. Major contributors include Chris Boyer, Andrew Meyer, Sunheng Nguon, Elisha Stanilevich, and Ahmed Ubdullah.</p>
    </footer>
</body>